[package]
name = "rust_lib"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
# We only want the bridge for now. NO DATABASE yet.
flutter_rust_bridge = "=2.11.1" 
flutter_rust_bridge_macros = "2"
